---
import Layout from "../layout/Layout.astro";
import { Heading } from "../component/foundations/Heading.jsx";
import BodyText from "../component/foundations/BodyText";
import ArticlePreview from "../component/ArticlePreview.jsx";
---

<Layout
  title="Thomas Farre - À propos"
  description="À propos de Thomas Farre, développeur web front-end passionné par la création d'interfaces utilisateur intuitives et esthétiques, spécialisé en React, Vue et TailwindCSS"
  keywords="à propos, développeur front-end, web design, interfaces utilisateur, React, Vue, TailwindCSS, Storybook, design minimaliste"
  image="/path-to-og-image.jpg"
>
  <main class="flex-auto">
    <div class="sm:px-8 mt-9">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="max-w-2xl mx-auto lg:max-w-5xl">
            <header class="max-w-xl space-y-4">
              <Heading level={1}
                >Mes réflexions sur le développement, le design, et bien plus.</Heading
              >
              <BodyText variant="paragraph">
                Tous mes articles sur la programmation, le design produit et
                l’apprentissage, rassemblés par ordre chronologique.
              </BodyText>
            </header>
            <div class="mt-16 sm:mt-20">
              <div
                class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
              >
                <div class="flex max-w-3xl flex-col space-y-16">
                  <ArticlePreview
                    title="Bien utiliser TailwindCSS : comprendre la logique CSS derrière les classes"
                    href="/articles/bien-utiliser-tailwindcss-comprendre-logique-css"
                    date="2024-11-23"
                    description="Apprenez à tirer le meilleur parti de TailwindCSS en comprenant la logique CSS derrière ses classes. Bonnes pratiques, pièges à éviter et astuces pour un code maintenable."
                  />
                  <ArticlePreview
                    title="Refactoring UI et Practical UI : des ressources incontournables pour les développeurs front-end"
                    href="/articles/refactoring-ui-practical-ui-design-systems-tailwind-react"
                    date="2024-11-22"
                    description="Découvrez comment Refactoring UI et Practical UI peuvent transformer votre approche du design front-end. Design systems, TailwindCSS, React : gagnez en efficacité et en cohérence, même sans expérience de designer."
                  />
                  <ArticlePreview
                    title="Ma découverte de TailwindCSS : pourquoi il a tout changé pour moi"
                    href="/articles/ma-découverte-de-tailwindcss"
                    date="2024-11-22"
                    description="Découvrez comment j’ai découvert TailwindCSS et pourquoi ce framework a révolutionné ma façon de concevoir des interfaces. Entre rapidité, modularité et simplicité, je partage mon expérience, ses atouts, et les erreurs à éviter."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
