---
import Layout from "../layout/Layout.astro";
import Header from "../component/Header.jsx";
import Photos from "../component/Photos.jsx";
import ArticleCard from "../component/ArticleCard.jsx";
import WorkSection from "../component/WorkSection.jsx";
import { getImage } from "astro:assets";

import headerImage1 from "../assets/madeira.jpg";
import headerImage2 from "../assets/mer.jpg";
import headerImage3 from "../assets/montagne.jpg";
import headerImage4 from "../assets/rando.jpg";
import headerImage5 from "../assets/vlad-et-moi.jpg";

import workStationImage1 from "../assets/akawaka.png";
import workStationImage2 from "../assets/sutunam.png";

const optimizedImages = {
  gallery: await Promise.all([
    getImage({ src: headerImage1, format: "webp" }),
    getImage({ src: headerImage2, format: "webp" }),
    getImage({ src: headerImage3, format: "webp" }),
    getImage({ src: headerImage4, format: "webp" }),
    getImage({ src: headerImage5, format: "webp" }),
  ]),
};

const workStationImages = await Promise.all([
  getImage({ src: workStationImage1, format: "webp" }),
  getImage({ src: workStationImage2, format: "webp" }),
]);
---

<Layout
  title="Thomas Farre - Développeur Front-End"
  description="Développeur web front-end passionné par la création d'interfaces utilisateur intuitives et esthétiques, spécialisé en React, Vue et TailwindCSS"
  keywords="développeur front-end, web design, interfaces utilisateur, React, Vue, TailwindCSS, Storybook, design minimaliste"
  image="/path-to-og-image.jpg"
>
  <main class="flex-auto">
    <div class="sm:px-8 mt-9">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <Header />
      </div>
    </div>
    <div class="mt-16 sm:mt-20">
      <Photos images={optimizedImages} />
    </div>
    <div class="sm:px-8 mt-24 md:mt-28">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div
              class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
            >
              <div class="flex flex-col gap-16">
                <ArticleCard
                  title="Crafting a design system for a multiplanetary future"
                  link="/articles/crafting-a-design-system-for-a-multiplanetary-future"
                  date="2022-09-05"
                  description="Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system."
                />
                <ArticleCard
                  title="Crafting a design system for a multiplanetary future"
                  link="/articles/crafting-a-design-system-for-a-multiplanetary-future"
                  date="2022-09-05"
                  description="Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system."
                />
                <ArticleCard
                  title="Crafting a design system for a multiplanetary future"
                  link="/articles/crafting-a-design-system-for-a-multiplanetary-future"
                  date="2022-09-05"
                  description="Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system."
                />
              </div>
              <div class="space-y-10 lg:pl-16 xl:pl-24">
                <div
                  class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40"
                >
                  <h2
                    class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100"
                  >
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      aria-hidden="true"
                      class="h-6 w-6 flex-none"
                      ><path
                        d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
                        class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"
                      ></path><path
                        d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6"
                        class="stroke-zinc-400 dark:stroke-zinc-500"
                      ></path></svg
                    ><span class="ml-3">Contactez-moi</span>
                  </h2><p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                    Envie d'échanger avec moi ? Je suis toujours ouvert à de
                    nouvelles idées et discussions. Parlons en !
                  </p>
                  <div class="mt-6 flex items-center justify-between">
                    <a
                      href="mailto:thomas.farre@gmail.com"
                      class="text-sm text-zinc-600 dark:text-zinc-400"
                    >
                      thomas.farre@gmail.com
                    </a>
                    <a href="mailto:thomas.farre@gmail.com">
                      <button
                        class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 ml-4 flex-none"
                        type="submit"
                      >
                        M'écrire
                      </button>
                    </a>
                  </div>
                </div>
                <WorkSection images={workStationImages} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
