---
import Layout from "../layout/Layout.astro";
import { Heading } from "../component/foundations/Heading.jsx";
import BodyText from "../component/foundations/BodyText";
import ProjectCard from "../component/ProjectCard.jsx";
import { getImage } from "astro:assets";

import projectImage1 from "../assets/otter-words.png";
import projectImage2 from "../assets/academie-stephanoise.png";
import projectImage3 from "../assets/akaquiz.png";
import projectImage4 from "../assets/6-sens.webp";

const optimizedImages = {
  gallery: await Promise.all([
    getImage({ src: projectImage1, format: "webp" }),
    getImage({ src: projectImage2, format: "webp" }),
    getImage({ src: projectImage3, format: "webp" }),
    getImage({ src: projectImage4, format: "webp" }),
  ]),
};
const projects = [
  {
    imgSrc: optimizedImages.gallery[1].src,
    imgAlt: "Academie Stephanoise Logo",
    projectName: "Academie Stephanoise",
    projectDescription:
      "Le site web d’une salle de sport de combat propose un calendrier interactif pour les cours, un système d’inscription simple, et un blog. Construit avec <strong>React</strong>, <strong>TailwindCSS</strong>, et <strong>Astro</strong>, il est rapide, performant et facile à naviguer.",
    projectWebsite: "https://academie-stephanoise.netlify.app/",
    githubLink: "https://github.com/thomasfarre/academie-stephanoise",
  },
  {
    imgSrc: optimizedImages.gallery[2].src,
    imgAlt: "AkaQuiz Logo",
    projectName: "AkaQuiz",
    projectDescription:
      "Akaquiz est un jeu simple où vous devez trouver les mots correspondant aux définitions affichées. Construit avec <strong>React</strong>, <strong>Supabase</strong> et <strong>TailwindCSS</strong>, il repose sur un design system. Défiez-vous et grimpez dans le classement !",
    projectWebsite: "https://akaquiz.netlify.app/",
    githubLink: "https://github.com/akawaka/AkaQuiz",
  },
  {
    imgSrc: optimizedImages.gallery[0].src,
    imgAlt: "Otter Words Logo",
    projectName: "Otter Words",
    projectDescription:
      "Otter Words est un jeu multijoueur où vous trouvez des mots à partir de définitions, mêlant scrabble et synonymes. Conçu avec <strong>Vue.js</strong>, <strong>TailwindCSS</strong>, l’API de <strong>Twitch</strong>, et <strong>Firebase</strong>, il engage les joueurs en solo ou sur Twitch.",
    projectWebsite: "https://otter-words.netlify.app/",
    githubLink: "https://github.com/thomasfarre/otter-words",
  },
  {
    imgSrc: optimizedImages.gallery[3].src,
    imgAlt: "6 Sens Logo",
    projectName: "6 Sens",
    projectDescription:
      "Le site du restaurant 6ème Sens met en lumière ce lieu provençal avec élégance et simplicité. Construit en <strong>HTML</strong> avec <strong>TailwindCSS</strong> et <strong>AlpineJS</strong>, il offre une présentation claire du restaurant et de son ambiance chaleureuse. Hébergé sur GitHub Pages, il garantit rapidité et performance.",
    projectWebsite: "https://thomasfarre.github.io/ristorante/",
    githubLink: "https://github.com/thomasfarre/ristorante",
  },
  // Add more project objects as needed
];
---

<Layout
  title="Thomas Farre - À propos"
  description="À propos de Thomas Farre, développeur web front-end passionné par la création d'interfaces utilisateur intuitives et esthétiques, spécialisé en React, Vue et TailwindCSS"
  keywords="à propos, développeur front-end, web design, interfaces utilisateur, React, Vue, TailwindCSS, Storybook, design minimaliste"
  image="/path-to-og-image.jpg"
>
  <main class="flex-auto">
    <div class="sm:px-8 mt-9">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="max-w-2xl mx-auto lg:max-w-5xl">
            <header class="max-w-xl space-y-4">
              <Heading level={1}
                >Les projets que j’ai développés au fil du temps</Heading
              >
              <BodyText variant="paragraph">
                Voici les projets sur lesquels j’ai travaillé ces dernières
                années, que ce soit pour m’exercer ou dans le cadre de
                prestations. Ils sont tous open source, n’hésitez pas à jeter un
                œil au code ou à contribuer ! Cela me ferait vraiment plaisir.
              </BodyText>
            </header>
            <div class="mt-16 sm:mt-20">
              <ul
                role="list"
                class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
              >
                {projects.map((project) => <ProjectCard {...project} />)}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
