---
import Layout from "../layout/Layout.astro";
import { Heading } from "../component/foundations/Heading.jsx";
import BodyText from "../component/foundations/BodyText";
import ProjectCard from "../component/ProjectCard.jsx";
import { getImage } from "astro:assets";

import projectImage1 from "../assets/otter-words.png";
import projectImage2 from "../assets/academie-stephanoise.png";

const optimizedImages = {
  gallery: await Promise.all([
    getImage({ src: projectImage1, format: "webp" }),
    getImage({ src: projectImage2, format: "webp" }),
  ]),
};
const projects = [
  {
    imgSrc: optimizedImages.gallery[0].src,
    imgAlt: "Otter Words Logo",
    projectLink: "http://otter-words.com",
    projectName: "Otter Words",
    projectDescription:
      "Otter Words est un jeu multijoueur où les joueurs doivent trouver des mots à partir de définitions, mêlant des mécaniques de scrabble et de synonymes. Jouable en solo ou en direct sur Twitch, il permet aux streamers d'engager leur communauté dans des défis de vocabulaire en temps réel.",
    projectWebsite: "https://otter-words.netlify.app/",
  },
  {
    imgSrc: optimizedImages.gallery[1].src,
    imgAlt: "Academie Stephanoise Logo",
    projectLink: "http://academie-stephanoise.com",
    projectName: "Academie Stephanoise",
    projectDescription:
      "e site web d’une salle de sport de combat offre un calendrier interactif avec filtres pour les cours, un système d’inscription simple, un blog pour les actualités et des descriptions détaillées des activités proposées. Conçu comme un site statique, il garantit une navigation ultra-rapide et performante.",
    projectWebsite: "https://academie-stephanoise.netlify.app/",
  },
  // Add more project objects as needed
];
---

<Layout
  title="Thomas Farre - À propos"
  description="À propos de Thomas Farre, développeur web front-end passionné par la création d'interfaces utilisateur intuitives et esthétiques, spécialisé en React, Vue et TailwindCSS"
  keywords="à propos, développeur front-end, web design, interfaces utilisateur, React, Vue, TailwindCSS, Storybook, design minimaliste"
  image="/path-to-og-image.jpg"
>
  <main class="flex-auto">
    <div class="sm:px-8 mt-9">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="max-w-2xl mx-auto lg:max-w-5xl">
            <header class="max-w-xl space-y-4">
              <Heading level={1}
                >Les projets que j’ai développés au fil du temps</Heading
              >
              <BodyText variant="paragraph">
                Voici les projets sur lesquels j’ai travaillé ces dernières
                années, que ce soit pour m’exercer ou dans le cadre de
                prestations. Ils sont tous open source, n’hésitez pas à jeter un
                œil au code ou à contribuer ! Cela me ferait vraiment plaisir.
              </BodyText>
            </header>
            <div class="mt-16 sm:mt-20">
              <ul
                role="list"
                class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
              >
                {projects.map((project) => <ProjectCard {...project} />)}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
